<div class="blocker">
  <div class="main-content">
    hi
  </div>
</div>

<div class="hider">
<iframe width="1015" height="571" src="https://www.youtube.com/embed/bkACABMhI1Q?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
