<ul>
<% @posts.each do |post| %> 
<li> 
  <p><%= post.message %></p> 
<%= button_to 'Delete', post_path(post), method: :delete %>
<%= link_to 'Update', edit_post_path(post)  %>

</li>
  <% end %>
</ul>

<%= link_to new_post_path do %>
  New post
<% end %>
