body {
    background-image: url(asset-path("navbar_background.jpg"));
    height: 100%;
}

#nav-c {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#nav-c-g2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
}

#greeting {
    color: white;
    font-family: Helvetica;
}

#nav-c-g3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
}


#con1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#con1-g2 {
    display: flex;
    height: 200px;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: space-between;
}

// #message-header{

// }
#username {
    float: left;
}

#timestamp {
    float: right;
}

#message {
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.7);
}

#delete {
    float: left;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
    font-family: Helvetica;
    cursor: pointer;
    color: white;
    width: 50%;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

#update {
    float: right;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
    font-family: Helvetica;
    cursor: pointer;
    color: white;
    width: 50%;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

#con1-g1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#new-post {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
    font-family: Helvetica;
    color: white;
    width: 50%;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}